@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
/* --------------------------------------------- */

.hero-nav {
  background-color: #000a2c;
  color: #f7931e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 40px;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  gap: 10px;
  cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  padding: 5px 20px;
  width: 400px;
  height: 35px;
}
.search-box input[type="text"] {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 14px;
  color: #333;
}
.search-box,
.search-box i {
  color: #999;
  font-size: 16px;
  cursor: pointer;
}
.hero-nav a {
  color: white;
  background-color: #f7931e;
  border: #f7931e solid 2px;
  border-radius: 30px;
  padding: 4px 10px;
  font-weight: 600;
  transition: 0.5s;
}
.hero-nav a:hover {
  background-color: #ff523b;
  border-color: #ff523b;
  color: white;
}
.NavBar-two {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-container {
  padding: 10px 0;
  max-width: 1200px;
}
.nav-container ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
.NavBar-two a {
  color: #123;
  font-weight: 500;
  font-size: 15px;
  padding: 0 10px;
  border-bottom: 3px solid transparent;

  transition: 0.5s;
}
.NavBar-two a:hover {
  border-bottom: 3px solid #f7931e;
}

.hero-content {
  background-image: linear-gradient(#00000066, #00000066),
    url("../image/unnamed-1.jpg");
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.content-text-box {
  width: 80%;
  margin: 0 auto;
}
.hero-content h1 {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
  text-shadow: 3px 3px 7px #000000b3;
}
.hero-content p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 1.6;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
