@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
/* --------------------------------------------- */

.hero-nav {
  background-color: #000a2c;
  color: #f7931e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 40px;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  gap: 10px;
  cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  padding: 5px 20px;
  width: 400px;
  height: 35px;
}
.search-box input[type="text"] {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 14px;
  color: #333;
}
.search-box,
.search-box i {
  color: #999;
  font-size: 16px;
  cursor: pointer;
}
.hero-nav a {
  color: white;
  background-color: #f7931e;
  border: #f7931e solid 2px;
  border-radius: 30px;
  padding: 4px 10px;
  font-weight: 600;
  transition: 0.5s;
}
.hero-nav a:hover {
  background-color: #ff523b;
  border-color: #ff523b;
  color: white;
}
.NavBar-two {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-container {
  padding: 10px 0;
  max-width: 1200px;
}
.nav-container ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
.NavBar-two a {
  color: #123;
  font-weight: 500;
  font-size: 15px;
  padding: 0 10px;
  border-bottom: 3px solid transparent;

  transition: 0.5s;
}
.NavBar-two a:hover {
  border-bottom: 3px solid #f7931e;
}

.hero-content {
  background-image: linear-gradient(#00000066, #00000066),
    url("../image/unnamed-1.jpg");
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.content-text-box {
  width: 80%;
  margin: 0 auto;
}
.hero-content h1 {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
  text-shadow: 3px 3px 7px #000000b3;
}
.hero-content p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 1.6;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
/* ------------------------------------------------- */
/* ------------------------------------------------- */
.Exclusives {
  padding-bottom: 10px;
}
.Exclusives-container {
  width: 90%;
  margin: 50px auto;
}
.Exclusives-container h2 {
  padding-left: 26px;
  margin-bottom: 30px;
  position: relative;
}
.Exclusives-container h2::after {
  content: "";
  background: #ff523b;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 26px;

  transform: none;
}
.Exclusives-row {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.Exclusives-col {
  flex-basis: calc((100% - 120px) / 5);
  padding: 10px;
  transition: 0.3s;
}
.Exclusives-col:hover {
  box-shadow: 0 0 20px 0px #00000033;
}
.Exclusives-col img {
  width: 100%;
  display: inline-block;
  border-radius: 10px;
}
.Exclusives-col h3 {
  color: #000000;
  font-size: 16px;
  text-align: left;
}
.Exclusives-col span {
  font-size: 14px;
  color: #555;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}
/* ------------------------------------------------- */

.Trending-container {
  width: 90%;
  margin: 50px auto;
}
.Trending-container h2 {
  padding-left: 26px;
  margin-bottom: 30px;
  position: relative;
}
.Trending-container h2::after {
  content: "";
  background: #ff523b;
  width: 150px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 26px;

  transform: none;
}
.Trending-row {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.Trending-col {
  flex-basis: calc((100% - 30px) / 4);
  padding: 10px;
  transition: 0.5s;
}
.Trending-col:hover {
  transform: translateY(-6px);
}
.Trending-col img {
  width: 100%;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.5s;
}

.Trending-col h3 {
  color: #000000;
  font-size: 16px;
  text-align: left;
}
/* ------------------------------------------------- */
.rental-ad-container {
  width: 90%;
  margin: 50px auto 30px auto;

  background: linear-gradient(to right, #3f2321d7, transparent),
    url(../image/banner-2.png);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 5%;
  color: #ffffff;
}
.rental-ad-container h3 {
  font-size: 35px;

  font-weight: 800;
  line-height: 45px;
}
.rental-ad-container p {
  font-size: 16px;
  margin: 15px 0;
  color: #ffffffab;
}
.rental-ad-container a {
  display: inline-block;
  margin-top: 10px;
  padding: 4px 20px;
  background-color: #fe6362;
  color: white;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s;
  border: 3px solid transparent;
}
.rental-ad-container a:hover {
  background-color: white;

  color: #000000;

  border: 3px solid #fe6362;
}
/* ------------------------------------------------- */
.Stories-container {
  width: 90%;
  margin: 50px auto 70px auto;
}
.Stories-container h2 {
  padding-left: 26px;
  margin-bottom: 30px;
  position: relative;
}
.Stories-container h2::after {
  content: "";
  background: #ff523b;
  width: 170px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 26px;

  transform: none;
}
.Stories-row {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.Stories-col {
  flex-basis: calc((100% - 20px) / 3);
  padding: 10px;
  position: relative;
}
.Stories-col img {
  width: 100%;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.5s;
}
.story-details {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  background: rgba(0, 0, 0, 0.7);

  opacity: 0;
  transition: 0.5s;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}
.Stories-col p {
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.Stories-col:hover .story-details {
  opacity: 1;
}
.Stories-container a {
  display: block;
  width: 250px;
  text-align: center;
  margin: 30px auto 50px auto;
  padding: 4px 20px;
  background-color: #fe6362;
  color: white;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s;
  border: 3px solid transparent;
}
.Stories-container a:hover {
  background-color: white;

  color: #000000;

  border: 3px solid #fe6362;
}
